<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Онлайн Библиотека</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/css/main-style.css}" rel="stylesheet">
</head>
<body>
<header>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="index.html" th:href="@{/index}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="book.html" th:href="@{/book}">Книги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="author.html" th:href="@{/author}">Авторы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="genre.html" th:href="@{/genre}">Жанры</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="comment.html" th:href="@{/comment/0}">Комментарии</a>
        </li>
    </ul>
</header>

<section class="egitCommentSection mt-3">
    <form id="edit-form" action="comment-edit.html" th:method="post" th:action="@{/comment/edit/}" th:object="${comment}">
        <div class="mb-3">
            <label for="selectBookForCommentEdit" class="form-label">Выбор книги</label>
            <select class="form-select" id="selectBookForCommentEdit" aria-label="Default select example" th:field="*{book}">
                <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.name} + '(' + ${book.author.name} + ')'"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="editableTextComment" class="form-label">Текст</label>
            <input type="text" name="id" class="form-control"  value="John Doe" th:value="*{id}" hidden>
            <input type="text" name="text" class="form-control" id="editableTextComment" value="John Doe" th:value="*{text}" placeholder="Текст комментария">
        </div>
        <button type="submit" class="btn btn-primary">Подтвердить</button>
    </form>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>