<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Онлайн Библиотека</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/css/main-style.css}" rel="stylesheet">
</head>
<body>
    <header>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html" th:href="@{/index}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="book.html" th:href="@{/book}">Книги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="author.html" th:href="@{/author}">Авторы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="genre.html" th:href="@{/genre}">Жанры</a>
            </li>
        </ul>
    </header>

    <section class="mt-3">
        <h1>Приложение по учету книг</h1>
        <h3>Прочти перед использованием:</h3>
        <ul>
            <li>На каждой странице присутствует навигационное меню</li>
            <li>Выбранная страница подсвечивается синим цветом</li>
            <li>При наведении на записи в любом списке можно уведеть доступные действия над записью</li>
            <li>Первоначально данные отсутствует</li>
            <li>Инструкция приложения находится в файле <code>README.md</code></li>
            <li>Комментарии к книге можно увидеть, если нажать на кнопку <b>Изменить</b></li>
        </ul>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>